In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
random.seed(14)

이름

In [ ]:
family_name=['김', '이', '박', '최', '정', '강', '조', '윤', '장', '임', '한', '오', '서', '신', '권', '황', '안', '송', '류', '전', '홍', '고', '문', '양', '손', '배', '조', '백', '허', '유', '남', '심', '노', '정', '하', '곽', '성', '차', '주', '우' ]
# 성씨 40개

In [ ]:
female_name = pd.read_excel('/content/drive/MyDrive/female_name.xlsx')
male_name = pd.read_excel('/content/drive/MyDrive/male_name.xlsx')

In [ ]:
female_name = female_name.drop(female_name.index[0])
female_name = female_name.iloc[:,4]
male_name = male_name.drop(male_name.index[0])
male_name = male_name.iloc[:,3]

In [ ]:
temp=[]
for i in range(len(female_name)):
  temp.append(female_name.iloc[i])
female_firstname = random.choices(temp, k=215)
female_lastname = random.choices(family_name, k=215)
female_name = [a + b for a, b in zip(female_lastname,female_firstname)]
female_name[:10]

['조윤정', '임채이', '황현', '안유주', '강영주', '최은별', '곽에스더', '서선영', '조유정', '문여은']

In [ ]:
temp1=[]
for i in range(len(male_name)):
  temp1.append(male_name.iloc[i])
male_firstname = random.choices(temp1, k=185)
male_lastname = random.choices(family_name, k=185)
male_name = [a + b for a, b in zip(male_lastname,male_firstname)]
male_name[:10]

['권희원', '임주호', '주정연', '곽호윤', '권지오', '배승찬', '심도윤', '이한솔', '윤예찬', '강지현']

성별

In [ ]:
sex=['female', 'male']
gender = random.choices(sex, k=400)
count = 0
for i in gender :
  if i =='female':
    count +=1
print(count)

215

In [ ]:
sex=[]
for i in range(215):
  sex.append('female')
for j in range(185):
  sex.append('male')
sex[:10]

['female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female']

나이

In [ ]:
age = random.choices(list(range(17,70)), k=400)
age[:10]

[53, 53, 41, 30, 43, 45, 37, 28, 47, 51]

매수날짜 & 매도날짜

In [ ]:
#매수 8월 - 매도 9월
aug_sep8 = random.choices(list(range(1,32)), k=100)
aug_sep9 = random.choices(list(range(1,31)), k=100)

#매수 8월 - 매도 10월
aug_oct8 = random.choices(list(range(1,32)), k=100)
aug_oct10 = random.choices(list(range(1,32)), k=100)

#매수 9월 - 매도 10월
sep_oct9 = random.choices(list(range(1,31)), k=100)
sep_oct10 = random.choices(list(range(1,32)), k=100)

#매수 10월 - 매도 11월
oct_nov10 = random.choices(list(range(1,32)), k=100)
oct_nov11 = random.choices(list(range(1,31)), k=100)

In [ ]:
buy_date = aug_sep8 + aug_oct8 + sep_oct9 + oct_nov10
sell_date = aug_sep9 + aug_oct10 + sep_oct10 + oct_nov11

In [ ]:
buy_date[:10]

[19, 6, 21, 1, 23, 8, 6, 15, 7, 25]

In [ ]:
for i in range(len(buy_date)):
  if len(str(buy_date[i]))==1:
    buy_date[i] = '0' + str(buy_date[i])
  else:
    buy_date[i] = str(buy_date[i])

In [ ]:
for i in range(len(sell_date)):
  if len(str(sell_date[i]))==1:
    sell_date[i] = '0' + str(sell_date[i])
  else:
    sell_date[i] = str(sell_date[i])

In [ ]:
buy_date[:10]

['19', '06', '21', '01', '23', '08', '06', '15', '07', '25']

In [ ]:
sell_date[:10]

['09', '15', '08', '06', '04', '25', '27', '09', '23', '21']

In [ ]:
for i in range(200) :
  buy_date[i] = '2308' + buy_date[i]

In [ ]:
for i in range(100) :
  sell_date[i] = '2309' + sell_date[i]

In [ ]:
for i in range(200,300) :
  buy_date[i] = '2309' + buy_date[i]

In [ ]:
for i in range(100,300) :
  sell_date[i] = '2310' + sell_date[i]

In [ ]:
for i in range(300,400) :
  buy_date[i] = '2310' + buy_date[i]

In [ ]:
for i in range(300,400) :
  sell_date[i] = '2311' + sell_date[i]

In [ ]:
buy_date

In [ ]:
sell_date

매수단가& 매도단가 & 매수수량 & 수익률

In [ ]:
cost = random.choices(list(range(50000,130000,1000)), k=400)

In [ ]:
cost[:10]

[73000, 66000, 119000, 73000, 100000, 87000, 101000, 93000, 61000, 51000]

In [ ]:
profit = random.choices(list(range(50000,130000,1000)), k=400)

In [ ]:
num = random.choices(list(range(1,100)), k=400)

In [ ]:
profit_ratio = []
for i in range(400):
  profit_ratio.append(round(((profit[i] - cost[i])/cost[i]*100),2))

In [ ]:
profit_ratio[:20]

[67.12,
 36.36,
 -40.34,
 65.75,
 13.0,
 -6.9,
 -10.89,
 -31.18,
 36.07,
 133.33,
 4.17,
 12.31,
 19.0,
 41.11,
 7.5,
 42.42,
 -4.46,
 4.03,
 -5.74,
 53.57]

투자종목

In [ ]:
stocks = ['삼성전자', 'LG에너지솔루션', 'SK하이닉스', '삼성바이오로직스', '삼성전자우', 'POSCO홀딩스', '현대차', 'LG화학', '기아', 'NAVER', '삼성SDI', '셀트리온', '포스코퓨처엠', '카카오', '현대모비스', '삼성물산', 'KB금융', '신한지주', 'LG전자', 'SK이노베이션']
random_stocks = random.choices(stocks, k=400)
random_stocks[:10]

['NAVER',
 '현대차',
 'NAVER',
 '현대차',
 '현대모비스',
 'LG에너지솔루션',
 'SK이노베이션',
 '포스코퓨처엠',
 'LG전자',
 '삼성물산']

In [ ]:
columns = {'이름' : female_name+male_name, '성별' : sex, '나이' : age, '매수날짜' : buy_date, '매도날짜' : sell_date,
           '매수단가' : cost, '매수수량' : num, '매도단가' : profit, '수익률' : profit_ratio, '투자종목' : random_stocks}

In [ ]:
len(female_name+male_name)

400

In [ ]:
DATA = pd.DataFrame(columns)

In [ ]:
DATA.head()

    이름      성별  나이    매수날짜    매도날짜    매수단가  매수수량    매도단가    수익률   투자종목
0  조윤정  female  53  230819  230909   73000    69  122000  67.12  NAVER
1  임채이  female  53  230806  230915   66000    56   90000  36.36    현대차
2   황현  female  41  230821  230908  119000    88   71000 -40.34  NAVER
3  안유주  female  30  230801  230906   73000    66  121000  65.75    현대차
4  강영주  female  43  230823  230904  100000    83  113000  13.00  현대모비스

In [ ]:
job = ['경영사무', '마케팅/광고/홍보', 'IT개발/인터넷', '디자인', '무역/유통', '영업/고객상담', '서비스', '연구개발/설계', '교육', '건설/건축', '의료', '미디어/문화', '전문/특수 연구직', '관광레저서비스']

In [ ]:
random_jobs = random.choices(job, k=400)
random_jobs[:10]

['마케팅/광고/홍보',
 '건설/건축',
 '건설/건축',
 '관광레저서비스',
 '디자인',
 '디자인',
 '의료',
 '건설/건축',
 '무역/유통',
 '건설/건축']

In [ ]:
money = ['1000만원 이하', '1000만원 이상 1억 이하', '1억 이상 10억 이하', '10억 이상 100억 이하', '100억 이상']
weight = [0.3, 0.3, 0.2, 0.1 ,0.1]

In [ ]:
random_money = random.choices(money, k=400, weights = weight)
random_money[:10]

['10억 이상 100억 이하',
 '1000만원 이하',
 '100억 이상',
 '1000만원 이하',
 '1000만원 이하',
 '1000만원 이하',
 '10억 이상 100억 이하',
 '1000만원 이하',
 '1000만원 이상 1억 이하',
 '1000만원 이상 1억 이하']

In [ ]:
DATA['종사직군'] = random_jobs

In [ ]:
DATA['자산규모'] = random_money

In [ ]:
DATA

,이름,성별,나이,매수날짜,매도날짜,매수단가,매수수량,매도단가,수익률,투자종목,종사직군,자산규모
0,조윤정,female,53,230819,230909,73000,69,122000,67.12,NAVER,마케팅/광고/홍보,10억 이상 100억 이하
1,임채이,female,53,230806,230915,66000,56,90000,36.36,현대차,건설/건축,1000만원 이하
2,황현,female,41,230821,230908,119000,88,71000,-40.34,NAVER,건설/건축,100억 이상
3,안유주,female,30,230801,230906,73000,66,121000,65.75,현대차,관광레저서비스,1000만원 이하
4,강영주,female,43,230823,230904,100000,83,113000,13.00,현대모비스,디자인,1000만원 이하
...,...,...,...,...,...,...,...,...,...,...,...,...
395,하민성,male,52,231001,231102,52000,30,122000,134.62,신한지주,관광레저서비스,1억 이상 10억 이하
396,박도균,male,41,231017,231115,60000,89,77000,28.33,삼성바이오로직스,연구개발/설계,1억 이상 10억 이하
397,류민성,male,26,231022,231126,58000,17,111000,91.38,기아,전문/특수 연구직,1000만원 이상 1억 이하
398,강준용,male,30,231014,231102,86000,80,91000,5.81,삼성SDI,무역/유통,1000만원 이하
399,남윤재,male,22,231012,231119,113000,82,89000,-21.24,현대차,마케팅/광고/홍보,1000만원 이하

In [ ]:
DATA.to_excel('/content/drive/MyDrive/삼성증권_data.xlsx', index=False)